{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="it-rating" content="it-rat-cd303c3f80473535b3c667d0d67a7a11" />
    <meta name="cmsmagazine" content="3f86e43372e678604d35804a67860df7" />
    <title>Benchy</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
      class="styles"
    />
  </head>
  <body class="loaded">
    <!-- BEGIN BODY -->
    <div class="main-wrapper">
      {% include 'navbar.html' %} {% block content %} {% endblock content %}

      <div class="overlay"></div>

      <div class="top-to-bottom">
        
      </div>

    </div>
    <!-- BODY EOF   -->
    {% include 'footer.html' %}
  </body>
  {% include 'scripts.html' %}
</html>
