{% load static %}

<!-- BEGIN HEADER -->
<header class="header">
  <div class="wrapper">
    <div class="header_top">
      <div class="header_cols">
        <div class="header_categ">
          <a href="#" class="header_categ_opener"
            ><span class="icon-grid"></span>Categories</a
          >
          <div class="header_categ_drop">
            <ul class="catlist">
              {% for cat , count in  cat_count %}
              <li>
                <a href="{% url 'Blog' cat.slug %}">{{cat.name}} <span>({{count}})</span></a>
              </li>
              {% endfor %}
              
            </ul>
          </div>
        </div>
        <a href="mailto:info@sitename.com" class="header_mail"
          ><span class="icon-mail"></span>info@sitename.com</a
        >
      </div>
    </div>
    <div class="header_mid">
      <a href="#" class="header_logo logo" title=""
        ><img
          data-src="{% static 'img/logo.png' %}"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
          class="js-img"
          alt=""
      /></a>
      <ul class="header_nav">
        <li><a href="#recent" class="js-local">Recent posts</a></li>
        <li><a href="#popular" class="js-local">popular</a></li>
        <li><a href="#mostreaded" class="js-local">Most read</a></li>
        <li><a href="#hot" class="js-local">Hot stuff</a></li>
        <li><a href="#top" class="js-local">top of the week</a></li>
      </ul>
      <a href="#" class="button-nav"><span></span></a>
    </div>
    <div class="navoverlay"></div>
  </div>
</header>
<!-- HEADER EOF   -->
